.r-hex {
  overflow: hidden;
  display: inline-block;
  margin: 2em 0;
  width: 10em;
  height: 8.66em;
  transform: rotate(-30deg) skewX(30deg);
  border-radius: 15px;
}

.r-hex *, .r-hex *:before {
  display: block;
  overflow: hidden;
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

.r-hex-inner {
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  transition: opacity 0.75s;
  cursor: pointer;
}

.r-hex:first-child .r-hex-inner:before, .r-hex-inner-2 {
  transform: skewX(-30deg) rotate(60deg) skewX(30deg);
  content: "";
  position: absolute;
}

.r-hex-inner-2:before {
  margin-top: -0.75em;
  height: 10em;
  transform: skewX(-30deg) rotate(-90deg);
  background: url("../../Pictures/girlpanda.jpg");
  background-size: cover;
  line-height: 20em;
  text-align: center;
  content: "";
}

.profilCss {
  border: solid 1px;
  text-align: center;
  margin: 20px;
  border-radius: 5px;
  background-color: white;
  z-index: 10;
  position: relative;
  top: -100px;
  border-color: #c3c3c3;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.banniere {
  height: 250px;
  background: url("../../Pictures/astronaut.jpg") no-repeat;
}

.pseudo {
  position: relative;
  top: -20px;
}

.surnom {
  color: gray;
  font-weight: normal;
  font-style: italic;
  font-family: cursive;
  top: -5px;
  position: relative;
}

.colonne {
  border-top: solid 1px;
  border-color: #c3c3c3;
  padding: 10px;
  text-align: left;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background: ghostwhite !important;
  padding: 0;
  height: 100% !important;
}

.backgroundColorProfil {
  height: 100%;
  background: ghostwhite !important;
  margin: 0;
  padding: 0;
}

.tabs {
  margin-top: 0.5rem;
  padding: 0 5px 0 5px !important;
}

.buttonSubmitProfil {
  width: 93% !important;
  margin: 10px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.rowInfoPerso, .rowConnexion {
  padding: 10px;
  text-align: left;
}

.colonneInfoPerso {
  margin: 5px;
  margin-bottom: 15px;
}

.formProfil {
  margin-top: 45px;
  margin-right: 10px;
  margin-left: 10px;
}

.buttonSubmitInfoPerso {
  width: 30% !important;
  margin: 15px;
  position: relative;
  margin-left: auto;
  margin-top: 30px !important;
}

.profilPicture {
  height: 235px;
  top: -15px;
  position: relative;
}

.sliderBarMin, .sliderBarMax {
  position: relative;
  top: -3px;
}

.sliderBarProfil {
  height: 5px !important;
}

.sliderBarValue {
  position: relative;
  top: -7px;
}

.othersOptionsVilla {
  position: absolute;
  width: 97% !important;
}

.othersOptionsConnexion {
  position: absolute;
  bottom: 25px;
  width: 96% !important;
}

.sliderBarLabelProfil {
  margin-bottom: 20px !important;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.4470588235);
}

.optionsVilla {
  padding-bottom: 30px;
}

.rc-slider-rail, .rc-slider-track, .rc-slider-step {
  height: 10px !important;
}

.rc-slider-track {
  background-color: #73a9f4 !important;
}

.rc-slider-handle {
  width: 20px !important;
  height: 20px !important;
  border: solid 2px #73a9f4 !important;
}

.rc-slider-handle:hover, .rc-slider-handle-dragging {
  border-color: #5193ef !important;
  box-shadow: 0 0 0 5px #5193ef !important;
}

.titreModal {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5333333333);
}/*# sourceMappingURL=styles.css.map */